<div class='admin-title'>
     <h1 class='admin-name'> <%= admin.name %> </h1>
     <a href="/admin/new" class="btn btn-primary btn-add">Créer un admin</a>
     <a href="/univ/new" class="btn btn-primary create"> Créer une université </a>
 </div>
<table class='table'>
	<tr>
		<th>Nom</th>
		<th>Ville</th>
		<th>Pays</th>
		<th class="back"><a href="/" class="back_link"> ACCUEIL </a>	</th>
	</tr>
	<% _.each(universities, function(univ){ %>
	<tr>
		<td> <%- univ.name %> </td>
		<td> <%- univ.ville %> </td>
		<td> <%- univ.pays %> </td>
		<td><a href="/univ/profil/<%=univ.id%>" class='btn btn-success btn-admin'> Voir </a>  
		 	<a href="/univ/edit/<%=univ.id%>" class='btn btn-warning btn-admin'> Editer </a> 
		 	<a href="/univ/destroy/<%=univ.id%>" class='btn btn-danger btn-admin'> Supprimer </a>
		</td> 
	</tr>
	<% }) %>
</table>