<!-- Default home page -->
<div id="wrapper-outer">
 <div id="wrapper">
   <div id="wrapper-inner">
     <!-- BREADCRUMB -->
     <div class="breadcrumb-wrapper">
       <div class="container">
         <div class="row">
           <div class="span12">
             <ul class="breadcrumb pull-left">
               <li><a href="/"></a></li>
             </ul><!-- /.breadcrumb -->

             <div class="account pull-right">
               <ul class="nav nav-pills">
                 <li><a href="/session/new">Login</a></li>
               </ul>
             </div>
           </div><!-- /.span12 -->
         </div><!-- /.row -->
       </div><!-- /.container -->
     </div><!-- /.breadcrumb-wrapper -->

     <!-- HEADER -->
     <div id="header-wrapper">
       <div id="header">
         <div id="header-inner">
           <div class="container">
             <div class="navbar">
               <div class="navbar-inner">
                 <div class="row">
                   <div class="logo-wrapper span4">
                     <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                     <div class="logo">
                       <a href="/" title="Home">
                         <img src="/img/logo.png" alt="Home">
                       </a>
                     </div><!-- /.logo -->

                     <div class="site-name">
                       <a href="/" title="Home" class="brand">Erasmoove</a>
                     </div><!-- /.site-name -->

                     <div class="site-slogan">
                      <span>Dauphinois, tu veux<br>partir en échange ?</span>
                    </div><!-- /.site-slogan -->
                  </div><!-- /.logo-wrapper -->
                  <div class="span4">
                    <div class="logo_dee">
                      By DEE
                      <img src="/img/dee.png" style="width:50px"/>
                      & Dauphine Genius
                      <img src="/img/genius.jpg"style="width:25px"/>


                </div><!-- /.row -->
              </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
          </div><!-- /.container -->
        </div><!-- /#header-inner -->
      </div><!-- /#header -->
    </div><!-- /#header-wrapper -->

    <!-- NAVIGATION -->
    <div id="navigation">
     <div class="container">
       <div class="navigation-wrapper">
         <div class="navigation clearfix-normal">

           <ul class="nav">
             <li class="menuparent">
               <span class="menuparent nolink">Homepage</span>
             </li>
             <li class="menuparent">
               <a href="kezako">Erasmove? Kesako?</a>


             </li>

           </ul><!-- /.nav -->



           <form method="post" action="/query" class="site-search">
             <div class="input-append">
               <input title="Enter the terms you wish to search for." id="query" class="search-query span2 form-text" placeholder="Recherche" type="text" name="word">
               <button type="submit" class="btn"><i class="icon-search"></i></button>
             </div><!-- /.input-append -->
           </form><!-- /.site-search -->
         </div><!-- /.navigation -->
       </div><!-- /.navigation-wrapper -->
     </div><!-- /.container -->
   </div><!-- /.navigation -->

   <!-- CONTENT -->
   <div id="content">
    <div class="map-wrapper">
     <div class="map">
       <div id="map" class="map-inner"></div><!-- /.map-inner -->

       <div class="container">
         <div class="row">
           <div class="span3">
             <div class="property-filter pull-right">
               <div class="content">
                <form>
                   <div class="location control-group">
                     <label class="control-label" for="inputLocation">
                       Filière
                     </label>
                     <div class="controls">
                       <select id="inputLocation">
                         <option value="0">Toutes</option>
                         <option value="LSO Gestion">LSO Gestion</option>
                         <option value="LSO Eco App">LSO Eco App</option>
                         <option value="LSO LISS">LSO LISS</option>
                         <option value="LSO Droit">LSO Droit</option>
                         <option value="MSO">MSO</option>
                         <option value="MIDO">MIDO</option>
                       </select>
                     </div><!-- /.controls -->
                   </div><!-- /.control-group -->

                   <div class="type control-group">
                     <label class="control-label" for="inputType">
                       Langue
                     </label>
                     <div class="controls">
                       <select id="inputType">
                         <option value="0">Toutes</option>
                         <option value="en">Anglais</option>
                         <option value="es">Espagnol</option>
                         <option value="al">Allemand</option>
                         <option value="fr">Français</option>
                         <option value="it">Italien</option>
                         <option value="po">Portugais</option>
                       </select>
                     </div><!-- /.controls -->
                   </div><!-- /.control-group -->

                   <div class="beds control-group">
                     <label class="control-label" for="inputBeds">
                       Continent
                     </label>
                     <div class="controls">
                       <select id="inputBeds">
                         <option value="0">Tous</option>
                         <option value="europe">Europe</option>
                         <option value="north america">Amerique du Nord</option>
                         <option value="south america">Amerique du Sud</option>
                         <option value="asia">Asie</option>
                         <option value="oceania">Océanie</option>
                         <option value="africa">Afrique</option>
                       </select>
                     </div><!-- /.controls -->
                   </div><!-- /.control-group -->

                  <!-- <div class="baths control-group">
                     <label class="control-label" for="inputBaths">
                       Score
                     </label>
                     <div class="controls">
                       <input type="number" id="inputBaths"/>


                     </div>
                   </div> -->


                   <div class="form-actions">
                     <a id="test" class="btn btn-primary btn-large">Rechercher </a>
                   </div><!-- /.form-actions -->
                 </form>
               </div><!-- /.content -->
             </div><!-- /.property-filter -->
           </div><!-- /.span3 -->
         </div><!-- /.row -->
       </div><!-- /.container -->
     </div><!-- /.map -->
   </div><!-- /.map-wrapper -->
   <script type="text/javascript">
    $("#test").click(function() {
var section = $("#inputLocation").val();
var langue = $("#inputType").val();
var continent = $("#inputBeds").val();
var univers;

$.ajax(
{
  // dataType: "jsonp",
  async: false,
  url: "json/"+section+"&"+langue,
  success:function(data){
    console.log(data);
    univers = data;
    //$.each(data, function(i,item){
    }
  ,
  error:function(err){

  }

});

if(continent !="0")
  setContinent(continent);

else
  setContinent("World");


  setAllMap(null);

    $.each(univers, function(i,item){

    addUniversite(univers[i]);

});

});

  </script>

  <div class="container">
   <div id="main">

     <div class="carousel">
       <h2 class="page-header">Toutes les universités</h2>
       <div class="content">
         <a class="carousel-prev" href="#">Previous</a>
         <a class="carousel-next" href="#">Next</a>
         <ul>
          <% _.each(uni, function(univ){ %>





          <li>
           <div class="image">
             <a href="/univ/profil/<%=univ.id%>"></a>
             <div class="image_univ" style="background: url(<%=univ.profilPic%>) no-repeat center center">
             </div> 
           </div><!-- /.image -->
           <div class="title">
             <h3><a href="/univ/profil/<%=univ.id%>"> <%- univ.name %> </a></h3>
           </div><!-- /.title -->
           <div class="location"><%- univ.ville %></div><!-- /.location-->
         </li>
         <% }) %>
       </ul>
     </div><!-- /.content -->
   </div><!-- /.carousel -->        
