<!-- Default home page -->
<div id="wrapper-outer">
 <div id="wrapper">
   <div id="wrapper-inner">
     <!-- BREADCRUMB -->
     <div class="breadcrumb-wrapper">
       <div class="container">
         <div class="row">
           <div class="span12">
             <ul class="breadcrumb pull-left">
               <li><a href="/"></a></li>
             </ul><!-- /.breadcrumb -->

             <div class="account pull-right">
               <ul class="nav nav-pills">
                 <li><a href="/session/new">Login</a></li>
               </ul>
             </div>
           </div><!-- /.span12 -->
         </div><!-- /.row -->
       </div><!-- /.container -->
     </div><!-- /.breadcrumb-wrapper -->

     <!-- HEADER -->
     <div id="header-wrapper">
       <div id="header">
         <div id="header-inner">
           <div class="container">
             <div class="navbar">
               <div class="navbar-inner">
                 <div class="row">
                   <div class="logo-wrapper span4">
                     <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                     <div class="logo">
                       <a href="/" title="Home">
                         <img src="/img/logo.png" alt="Home">
                       </a>
                     </div><!-- /.logo -->

                     <div class="site-name">
                       <a href="/" title="Home" class="brand">Erasmoove</a>
                     </div><!-- /.site-name -->

                     <div class="site-slogan">
                      <span>Dauphinois, tu veux<br>partir en échange ?</span>
                    </div><!-- /.site-slogan -->
                  </div><!-- /.logo-wrapper -->
                  <div class="span4">
                    <div class="logo_dee">
                      By DEE
                      <img src="/img/dee.png" style="width:50px"/>
                      & Dauphine Genius
                      <img src="/img/genius.jpg"style="width:25px"/>


                </div><!-- /.row -->
              </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
          </div><!-- /.container -->
        </div><!-- /#header-inner -->
      </div><!-- /#header -->
    </div><!-- /#header-wrapper -->

    <!-- NAVIGATION -->
    <div id="navigation">
     <div class="container">
       <div class="navigation-wrapper">
         <div class="navigation clearfix-normal">

           <ul class="nav">
             <li class="menuparent">
               <a class="menuparent nolink" href="/">Homepage</a>
             </li>
             <li class="menuparent">
               <span class="menuparent nolink">Erasmove? Kesako?</span>

             </li>

               

             

          

                </ul><!-- /.nav -->

               </div>
               </div>
               </div>
               </div> 
                    <p>
                    <h2 class="title-kezako">
                       Erasmoove, Kezako ? </h2>
                    </p>
                    <ul> 
                      <h4 class="title-questions">Qu'est-ce que c'est ? </li>  
                       </h4>

                       <p class="kezako-paragraphe"> Erasmoove, c’est l’annuaire du dauphinois qui veut partir en échange. Le projet est plutôt simple : c’est une base de données, regroupant les témoignages reçus de dauphinois partis en échange ou en Erasmus. Vous retrouverez ici des informations différentes, plus informelles que celles que vous retrouverez sur le site du Service des Relations Internationales de Dauphine. Attention, les informations présentes ici n’ont qu’un but informatif : les formalités institutionnelles peuvent changer d’une année à l’autre et même d’un semestre à l’autre. Donc si vous avez un souci, on vous conseille de consulter les sites des universités qui vous intéressent et de poser la question au SRI.</p>

                         <p class="kezako-paragraphe"> Chaque année, on sait que les mêmes questions reviennent : « Quelles universités sont les plus demandées ? », « Quel est le niveau réel des cours ? », « Comment me débrouiller là-bas ? ». Avec Erasmoove, nous voulons mettre fin à vos interrogations et aux rumeurs qui courent chaque année. </p> 

                      <h4 class="title-questions">Comment récolte-t-on les données ? Le rôle des étudiants ? 
                       </h4>
                      
                       <p class="kezako-paragraphe"> 
                         Depuis septembre, Dauphine Erasmus Exchange a mis en place un questionnaire destiné aux dauphinois qui sont déjà partis. Le questionnaire, travaillé et retravaillé jusqu’en novembre, a ensuite été publié et diffusé par Facebook. En trois mois, c’est plus d’une centaine de témoignages que l’on a récolté, sur une soixantaine d’universités différentes.
                         Votre rôle, Dauphinois, est ici primordial : sans votre coopération, pas de témoignage. Sans vos témoignages, pas d’Erasmoove. <p> 


                         <h4 class="title-questions">Le rôle des trois différents acteurs
                         </h4>

                          <ul class="kezako-paragraphe">
                          <li> - Dauphine Erasmus Exchange : A l’ origine du projet, la DEE s’est occupée de mettre en place le questionnaire, de sa diffusion. 
                          <li> -  Dauphine Genius : Dauphine Genius s’est chargé de toute la partie technique, la réalisation du site et de ses différentes rubriques. 
                            <li> - Le Service des relations internationales : L’aide du SRI a été considérable quant aux informations sur les différentes universités, modalités de départ etc… 
                            </ul>
                            </li>
                            
                            <br>
                            <br>
                            <p  class="kezako-paragraphe italique">  Erasmoove est le fruit d’une triple collaboration, et la DEE est infiniment reconnaissante auprès de Dauphine Genius et du SRI pour l’aide apportée et la réalisation de ce projet.  

                          

                          </p>

                   </ul>
                  