<!DOCTYPE html>
<html>
<head>
  <title>Erasmoove</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta charset="UTF-8"/>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css">
  <link rel="stylesheet" href="/css/chosen.css" type="text/css">
  <link rel="stylesheet" href="/css/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
        <link rel="stylesheet" href="/css/map-icons.css" type="text/css"/>
  <link rel="stylesheet" href="/css/realia-blue.css" type="text/css" id="color-variant-default">
  <link rel="stylesheet" href="/css/custom.css" type="text/css">
   <link rel="stylesheet" href="/css/pgwslider.min.css" type="text/css">
  <script src="http://code.jquery.com/jquery-[latest].min.js"></script>
  <script src="/js/ajquery.js"></script>
  <script type="text/javascript" src="https://maps.google.fr/maps/api/js?v=3.exp&language=fr&kregion=FR&key=AIzaSyCwDEs1V_woC81ZRweT8uKCvgWOqICR_9M"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
  <script src="/js/map-icons.js"></script> 
  <script src="/js/flip.js"></script>
  <script src="/js/pgwslider.min.js"></script>
  



  
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
          -->

          <!--STYLES-->
          
          <!--STYLES END-->
        </head>

        <body>
          <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
            -->

            <!--TEMPLATES-->
            
            <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

        -->

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/ajquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/carousel.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/dropzone.js"></script>
        <script src="/js/flip.js"></script>
        <script src="/js/map-icons-ie7.js"></script>
        <script src="/js/map-icons.js"></script>
        <script src="/js/map-icons.min.js"></script>
        <script src="/js/map.js"></script>
        <script src="/js/pgwslider.js"></script>
        <script src="/js/pgwslider.min.js"></script>
        <script src="/js/realia.js"></script>
        <script src="/js/retina.js"></script>
        <!--SCRIPTS END-->
      </body>
      </html>
