<!-- Default home page -->
        <script src="/js/jquery.js"></script>
<script type="text/javascript"
src="https://maps.google.fr/maps/api/js?v=3.exp&language=fr&kregion=FR&key=AIzaSyCwDEs1V_woC81ZRweT8uKCvgWOqICR_9M">
</script>
      <script src="/js/map-icons.js"></script> 
<div id="wrapper-outer">
 <div id="wrapper">
   <div id="wrapper-inner">
     <!-- BREADCRUMB -->
     <div class="breadcrumb-wrapper">
       <div class="container">
         <div class="row">
           <div class="span12">
             <ul class="breadcrumb pull-left">
               <li><a href="/"></a></li>
             </ul><!-- /.breadcrumb -->

             <div class="account pull-right">
               <ul class="nav nav-pills">
                 <li><a href="login.html">Login</a></li>
                 <li><a href="registration.html">Registration</a></li>
               </ul>
             </div>
           </div><!-- /.span12 -->
         </div><!-- /.row -->
       </div><!-- /.container -->
     </div><!-- /.breadcrumb-wrapper -->

     <!-- HEADER -->
     <div id="header-wrapper">
       <div id="header">
         <div id="header-inner">
           <div class="container">
             <div class="navbar">
               <div class="navbar-inner">
                 <div class="row">
                   <div class="logo-wrapper span4">
                     <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                     <div class="logo">
                       <a href="/" title="Home">
                         <img src="/img/logo.png" alt="Home">
                       </a>
                     </div><!-- /.logo -->

                     <div class="site-name">
                       <a href="/" title="Home" class="brand">Erasmove</a>
                     </div><!-- /.site-name -->

                     <div class="site-slogan">
                      <span>Dauphinois, tu veux<br>partir en échange ?</span>
                    </div><!-- /.site-slogan -->
                  </div><!-- /.logo-wrapper -->



                  <a class="btn btn-primary btn-large list-your-property arrow-right" href="list-your-property.html">Ajout d'une université</a>
                </div><!-- /.row -->
              </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
          </div><!-- /.container -->
        </div><!-- /#header-inner -->
      </div><!-- /#header -->
    </div><!-- /#header-wrapper -->

    <!-- NAVIGATION -->
    <div id="navigation">
     <div class="container">
       <div class="navigation-wrapper">
         <div class="navigation clearfix-normal">

           <ul class="nav">
             <li class="menuparent">
               <span class="menuparent nolink">Homepage</span>
             </li>
             <li class="menuparent">
               <span class="menuparent nolink">Erasmove? Kesako?</span>

             </li>

           </ul><!-- /.nav -->



           <form class="site-search">
             <div class="input-append">
               <input title="Enter the terms you wish to search for." class="search-query span2 form-text" placeholder="Recherche" type="text" name="">
               <button type="submit" class="btn"><i class="icon-search"></i></button>
             </div><!-- /.input-append -->
           </form><!-- /.site-search -->
         </div><!-- /.navigation -->
       </div><!-- /.navigation-wrapper -->
     </div><!-- /.container -->
   </div><!-- /.navigation -->

   <!-- CONTENT -->
   <div id="content">
    <div class="map-wrapper">
     <div class="map">
       <div id="map" class="map-inner"></div><!-- /.map-inner -->

       <div class="container">
         <div class="row">
           <div class="span3">
             <div class="property-filter pull-right">
               <div class="content">
                <form>
                   <div class="location control-group">
                     <label class="control-label" for="inputLocation">
                       Filière
                     </label>
                     <div class="controls">
                       <select id="inputLocation">
                         <option value="0">Toutes</option>
                         <option value="LSO Gestion">LSO Gestion</option>
                         <option value="LSO Eco App">LSO Eco App</option>
                         <option value="LSO LISS">LSO LISS</option>
                         <option value="LSO Droit">LSO Droit</option>
                         <option value="MSO">MSO</option>
                         <option value="MIDO">MIDO</option>
                       </select>
                     </div><!-- /.controls -->
                   </div><!-- /.control-group -->

                   <div class="type control-group">
                     <label class="control-label" for="inputType">
                       Langue
                     </label>
                     <div class="controls">
                       <select id="inputType">
                         <option value="0">Toutes</option>
                         <option value="en">Anglais</option>
                         <option value="es">Espagnol</option>
                         <option value="al">Allemand</option>
                         <option value="fr">Français</option>
                         <option value="it">Italien</option>
                         <option value="po">Portugais</option>
                       </select>
                     </div><!-- /.controls -->
                   </div><!-- /.control-group -->

                   <div class="beds control-group">
                     <label class="control-label" for="inputBeds">
                       Continent
                     </label>
                     <div class="controls">
                       <select id="inputBeds">
                         <option value="0">Tous</option>
                         <option value="europe">Europe</option>
                         <option value="north america">Amerique du Nord</option>
                         <option value="south america">Amerique du Sud</option>
                         <option value="asia">Asie</option>
                         <option value="oceania">Océanie</option>
                         <option value="africa">Afrique</option>
                       </select>
                     </div><!-- /.controls -->
                   </div><!-- /.control-group -->

                  <!-- <div class="baths control-group">
                     <label class="control-label" for="inputBaths">
                       Score
                     </label>
                     <div class="controls">
                       <input type="number" id="inputBaths"/>


                     </div>
                   </div> -->


                   <div class="form-actions">
                     <a id="test" class="btn btn-primary btn-large">Rechercher </a>
                   </div><!-- /.form-actions -->
                 </form>
               </div><!-- /.content -->
             </div><!-- /.property-filter -->
           </div><!-- /.span3 -->
         </div><!-- /.row -->
       </div><!-- /.container -->
     </div><!-- /.map -->
   </div><!-- /.map-wrapper -->
   <script type="text/javascript">
    $("#test").click(function() {
var section = $("#inputLocation").val();
var langue = $("#inputType").val();
var continent = $("#inputBeds").val();
var univers;

$.ajax(
{
  // dataType: "jsonp",
  async: false,
  url: "json/"+section+"&"+langue,
  success:function(data){
    console.log(data);
    univers = data;
    //$.each(data, function(i,item){
    }
  ,
  error:function(err){

  }

});

if(continent !="0")
  setContinent(continent);

else
  setContinent("World");


  setAllMap(null);

    $.each(univers, function(i,item){

    addUniversite(univers[i]);

});

});

  </script>

  <div class="container">
   <div id="main">

     <div class="carousel">
       <h2 class="page-header">Toutes les universités</h2>
       <div class="content">
         <a class="carousel-prev" href="detail.html">Previous</a>
         <a class="carousel-next" href="detail.html">Next</a>
         <ul>
          <% _.each(uni, function(univ){ %>





          <li>
           <div class="image">
             <a href="detail.html"></a>
             <img src="/img/tmp/property-small-1.png" alt="">
           </div><!-- /.image -->
           <div class="title">
             <h3><a href="detail.html"> <%- univ.name %> </a></h3>
           </div><!-- /.title -->
           <div class="location"><%- univ.ville %></div><!-- /.location-->
           <div class="area">
           </div><!-- /.area -->
         </li>
         <% }) %>
       </ul>
     </div><!-- /.content -->
   </div><!-- /.carousel -->        <div class="features">
   <h2 class="page-header">Theme features</h2>

   <div class="row">
     <div class="item span4">
       <div class="row">
         <div class="icon span1">
           <img src="/img/icons/features-seo.png" alt="">
         </div><!-- /.icon -->

         <div class="text span3">
           <h3>SEO Ready</h3>
           <p>Realia is ready to put your website on higher ranks. Every line of code was developed with SEO principles in mind.</p>
         </div><!-- /.logo -->
       </div><!-- /.row -->
     </div><!-- /.item -->

     <div class="item span4">
       <div class="row">
         <div class="icon span1">
           <img src="/img/icons/features-retina.png" alt="">
         </div><!-- /.icon -->

         <div class="text span3">
           <h3>Retina Ready</h3>
           <p>Realia looks great even on Retina and high-resoultion displays. Every graphic element is sharp and clean. No blurry images anymore!</p>
         </div><!-- /.logo -->
       </div><!-- /.row -->
     </div><!-- /.item -->

     <div class="item span4">
       <div class="row">
         <div class="icon span1">
           <img src="/img/icons/features-custom-widgets.png" alt="">
         </div><!-- /.icon -->

         <div class="text span3">
           <h3>Custom Widgets</h3>
           <p>Realia provides custom developed widgets to fulfil requirements of good real estate application.</p>
         </div><!-- /.logo -->
       </div><!-- /.row -->
     </div><!-- /.item -->
   </div>
   <div class="row">
     <div class="item span4">
       <div class="row">
         <div class="icon span1">
           <img src="/img/icons/features-bootstrap.png" alt="">
         </div><!-- /.icon -->

         <div class="text span3">
           <h3>Prepared for Bootstrap</h3>
           <p>Developer friendly code based on Bootstrap and SASS makes your own customizations really easy.</p>
         </div><!-- /.logo -->
       </div><!-- /.row -->
     </div><!-- /.item -->

     <div class="item span4">
       <div class="row">
         <div class="icon span1">
           <img src="/img/icons/features-pencil.png" alt="">
         </div><!-- /.icon -->

         <div class="text span3">
           <h3>Frontend Submission</h3>
           <p>Make the portal solution from your real estate by providing property submission on homepage.</p>
         </div><!-- /.logo -->
       </div><!-- /.row -->
     </div><!-- /.item -->

     <div class="item span4">
       <div class="row">
         <div class="icon span1">
           <img src="/img/icons/features-responsive.png" alt="">
         </div><!-- /.icon -->

         <div class="text span3">
           <h3>Responsive</h3>
           <p>Realia is ready to put your website on higher ranks. Every line of code was developed with SEO principles in mind.</p>
         </div><!-- /.logo -->
       </div><!-- /.row -->
     </div><!-- /.item -->
   </div><!-- /.row -->
 </div><!-- /.features -->    </div>
</div>

<div class="bottom-wrapper">
 <div class="bottom container">
   <div class="bottom-inner row">
     <div class="item span4">
       <div class="address decoration"></div>
       <h2><a>List your property</a></h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan dui ac nunc imperdiet rhoncus. Aenean vitae imperdiet lectus</p>
       <a href="#" class="btn btn-primary">Read more</a>
     </div><!-- /.item -->

     <div class="item span4">
       <div class="gps decoration"></div>
       <h2><a>Advertise rentals</a></h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan dui ac nunc imperdiet rhoncus. Aenean vitae imperdiet lectus</p>
       <a href="#" class="btn btn-primary">Read more</a>
     </div><!-- /.item -->

     <div class="item span4">
       <div class="key decoration"></div>
       <h2><a>Guidance</a></h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan dui ac nunc imperdiet rhoncus. Aenean vitae imperdiet lectus</p>
       <a href="#" class="btn btn-primary">Read more</a>
     </div><!-- /.item -->
   </div><!-- /.bottom-inner -->
 </div><!-- /.bottom -->
</div><!-- /.bottom-wrapper -->    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

<div id="footer-wrapper">
 <div id="footer-top">
   <div id="footer-top-inner" class="container">
     <div class="row">
       <div class="widget properties span3">
         <div class="title">
           <h2>Most Recent</h2>
         </div><!-- /.title -->

         <div class="content">
           <div class="property">
             <div class="image">
               <a href="detail.html"></a>
               <img src="/img/tmp/property-small-1.png" alt="">
             </div><!-- /.image -->
             <div class="wrapper">
               <div class="title">
                 <h3>
                   <a href="detail.html">27523 Pacific Coast</a>
                 </h3>
               </div><!-- /.title -->
               <div class="location">Palo Alto CA</div><!-- /.location -->
               <div class="price">€2 300 000</div><!-- /.price -->
             </div><!-- /.wrapper -->
           </div><!-- /.property -->

           <div class="property">
             <div class="image">
               <a href="detail.html"></a>
               <img src="/img/tmp/property-small-2.png" alt="">
             </div><!-- /.image -->
             <div class="wrapper">
               <div class="title">
                 <h3>
                   <a href="detail.html">27523 Pacific Coast</a>
                 </h3>
               </div><!-- /.title -->
               <div class="location">Palo Alto CA</div><!-- /.location -->
               <div class="price">€2 300 000</div><!-- /.price -->
             </div><!-- /.wrapper -->
           </div><!-- /.property -->

           <div class="property">
             <div class="image">
               <a href="detail.html"></a>
               <img src="/img/tmp/property-small-3.png" alt="">
             </div><!-- /.image -->
             <div class="wrapper">
               <div class="title">
                 <h3>
                   <a href="detail.html">27523 Pacific Coast</a>
                 </h3>
               </div><!-- /.title -->
               <div class="location">Palo Alto CA</div><!-- /.location -->
               <div class="price">€2 300 000</div><!-- /.price -->
             </div><!-- /.wrapper -->
           </div><!-- /.property -->
         </div><!-- /.content -->
       </div><!-- /.properties-small -->

       <div class="widget span3">
         <div class="title">
           <h2>Contact us</h2>
         </div><!-- /.title -->

         <div class="content">
           <table class="contact">
             <tbody>
               <tr>
                 <th class="address">Address:</th>
                 <td>1900 Pico Blvd<br>Santa Monica, CA 90405<br>United States<br></td>
               </tr>
               <tr>
                 <th class="phone">Phone:</th>
                 <td>+48 123 456 789</td>
               </tr>
               <tr>
                 <th class="email">E-mail:</th>
                 <td><a href="mailto:info@yourcompany.com">info@example.com</a></td>
               </tr>
               <tr>
                 <th class="skype">Skype:</th>
                 <td>your.company</td>
               </tr>
               <tr>
                 <th class="gps">GPS:</th>
                 <td>34.016811<br>-118.469009</td>
               </tr>
             </tbody>
           </table>
         </div><!-- /.content -->
       </div><!-- /.widget -->

       <div class="widget span3">
         <div class="title">
           <h2 class="block-title">Useful links</h2>
         </div><!-- /.title -->

         <div class="content">
           <ul class="menu nav">
             <li class="first leaf"><a href="404.html">404 page</a></li>
             <li class="leaf"><a href="about-us.html">About us</a></li>
             <li class="leaf"><a href="contact-us.html">Contact us</a></li>
             <li class="leaf"><a href="faq.html">FAQ</a></li>
             <li class="leaf"><a href="grid-system.html">Grid system</a></li>
             <li class="leaf"><a href="our-agents.html">Our agents</a></li>
             <li class="last leaf"><a href="typography.html">Typography</a></li>
           </ul>
         </div><!-- /.content -->
       </div><!-- /.widget -->

       <div class="widget span3">
         <div class="title">
           <h2 class="block-title">Say hello!</h2>
         </div><!-- /.title -->

         <div class="content">
           <form method="post">
             <div class="control-group">
               <label class="control-label" for="inputName">
                 Name
                 <span class="form-required" title="This field is required.">*</span>
               </label>
               <div class="controls">
                 <input type="text" id="inputName">
               </div><!-- /.controls -->
             </div><!-- /.control-group -->

             <div class="control-group">
               <label class="control-label" for="inputEmail">
                 Email
                 <span class="form-required" title="This field is required.">*</span>
               </label>
               <div class="controls">
                 <input type="text" id="inputEmail">
               </div><!-- /.controls -->
             </div><!-- /.control-group -->

             <div class="control-group">
               <label class="control-label" for="inputMessage">
                 Message
                 <span class="form-required" title="This field is required.">*</span>
               </label>

               <div class="controls">
                 <textarea id="inputMessage"></textarea>
               </div><!-- /.controls -->
             </div><!-- /.control-group -->

             <div class="form-actions">
               <input type="submit" class="btn btn-primary arrow-right" value="Send">
             </div><!-- /.form-actions -->
           </form>
         </div><!-- /.content -->
       </div><!-- /.widget -->
     </div><!-- /.row -->
   </div><!-- /#footer-top-inner -->
 </div><!-- /#footer-top -->

 <div id="footer" class="footer container">
   <div id="footer-inner">
     <div class="row">
       <div class="span6 copyright">
         <p>© Copyright 2013 by <a href="http://themes.byaviators.com">Aviators</a>. All rights reserved.</p>
       </div><!-- /.copyright -->

       <div class="span6 share">
         <div class="content">
           <ul class="menu nav">
             <li class="first leaf"><a href="http://www.facebook.com" class="facebook">Facebook</a></li>
             <li class="leaf"><a href="http://flickr.net" class="flickr">Flickr</a></li>
             <li class="leaf"><a href="http://plus.google.com" class="google">Google+</a></li>
             <li class="leaf"><a href="http://www.linkedin.com" class="linkedin">LinkedIn</a></li>
             <li class="leaf"><a href="http://www.twitter.com" class="twitter">Twitter</a></li>
             <li class="last leaf"><a href="http://www.vimeo.com" class="vimeo">Vimeo</a></li>
           </ul>
         </div><!-- /.content -->
       </div><!-- /.span6 -->
     </div><!-- /.row -->
   </div><!-- /#footer-inner -->
 </div><!-- /#footer -->
</div><!-- /#footer-wrapper -->
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->

<div class="palette">
 <div class="toggle">
   <a href="#">Toggle</a>
 </div><!-- /.toggle -->

 <div class="inner">
   <div class="headers">
     <h2>Header styles</h2>
     <ul>
       <li><a class="header-light">Light</a></li>
       <li><a class="header-normal">Normal</a></li>
       <li><a class="header-dark">Dark</a></li>
     </ul>
   </div><!-- /.headers -->

   <div class="patterns">
     <h2>Background patterns</h2>
     <ul>
       <li><a class="pattern-cloth-alike">cloth-alike</a></li>
       <li><a class="pattern-corrugation">corrugation</a></li>
       <li><a class="pattern-diagonal-noise">diagonal-noise</a></li>
       <li><a class="pattern-dust">dust</a></li>
       <li><a class="pattern-fabric-plaid">fabric-plaid</a></li>
       <li><a class="pattern-farmer">farmer</a></li>
       <li><a class="pattern-grid-noise">grid-noise</a></li>
       <li><a class="pattern-lghtmesh">lghtmesh</a></li>
       <li><a class="pattern-pw-maze-white">pw-maze-white</a></li>
       <li><a class="pattern-none">none</a></li>
     </ul>
   </div>

   <div class="colors">
     <h2>Color variants</h2>
     <ul>
       <li><a href="assets/css/realia-red.css" class="red">Red</a></li>
       <li><a href="assets/css/realia-magenta.css" class="magenta">Magenta</a></li>
       <li><a href="assets/css/realia-brown.css" class="brown">Brown</a></li>
       <li><a href="assets/css/realia-orange.css" class="orange">Orange</a></li>
       <li><a href="assets/css/realia-brown-dark.css" class="brown-dark">Brown dark</a></li>

       <li><a href="assets/css/realia-gray-red.css" class="gray-red">Gray Red</a></li>
       <li><a href="assets/css/realia-gray-magenta.css" class="gray-magenta">Gray Magenta</a></li>
       <li><a href="assets/css/realia-gray-brown.css" class="gray-brown">Gray Brown</a></li>
       <li><a href="assets/css/realia-gray-orange.css" class="gray-orange">Gray Orange</a></li>
       <li><a href="assets/css/realia-gray-brown-dark.css" class="gray-brown-dark">Gray Brown dark</a></li>

       <li><a href="assets/css/realia-green-light.css" class="green-light">Green light</a></li>
       <li><a href="assets/css/realia-green.css" class="green">Green</a></li>
       <li><a href="assets/css/realia-turquiose.css" class="turquiose">Turquiose</a></li>
       <li><a href="assets/css/realia-blue.css" class="blue">Blue</a></li>
       <li><a href="assets/css/realia-violet.css" class="violet">Violet</a></li>

       <li><a href="assets/css/realia-gray-green-light.css" class="gray-green-light">Gray Green light</a></li>
       <li><a href="assets/css/realia-gray-green.css" class="gray-green">Gray Green</a></li>
       <li><a href="assets/css/realia-gray-turquiose.css" class="gray-turquiose">Gray Turquiose</a></li>
       <li><a href="assets/css/realia-gray-blue.css" class="gray-blue">Gray Blue</a></li>
       <li><a href="assets/css/realia-gray-violet.css" class="gray-violet">Gray Violet</a></li>
     </ul>
   </div><!-- /.colors -->

   <a href="#" class="btn btn-primary reset">Reset default</a>
 </div><!-- /.inner -->
</div><!-- /.palette -->