<div class='search wrapper'>
	<div class='container'>
		<div class='title'>
			<h1 class='search_head'> Resultats pour <%= ask %> </h1>
		</div>
		<table class='table table-hover'>
			<tr>
				<th>Nom</th>
				<th>Ville</th>
				<th>Pays</th>	
			</tr>
			<% _.each(uni, function(univ){ %>
			<tr class="clickable">

				<td><a class="search_link" href="/univ/profil/<%=univ.id%>"><%- univ.name %> </a> </td>
				<td> <%- univ.ville %> </td>
				<td> <%- univ.pays %> </td>
			</tr>
			<% }) %>
		</table>
		<script type="text/javascript">
		$('tr').click( function() {
			window.location = $(this).find('a').attr('href');
		});
		</script>
	</div>
</div>