<div class="container">
	<div class="raw">
		<div class="col-md-12">
			<h1 class="form-title"> Editer une université </h1>
			<% if(flash && flash.err===1){ %>
      <p> <%= flash.message %> </p>
      <% } %>
      <form class="form-univ" method="post" action="/univ/update/<%=univ.id%>">
        <div class="form-group">
         <label>Nom de l'université</label>
         <input type="text" class="form-control" name="name" value="<%= univ.name%>">
       </div>
       <div class="form-group">
         <label>Courte Description</label>
         <textarea class="form-control" name="shortDes" rows="3"/><%if(univ.adresse){univ.shortDes}%> </textarea>
       </div>
       <div class="form-group">
         <label>Pays</label>
         <input type="text" class="form-control" id="pays" name="pays" value="<%= univ.pays%>">
       </div>
       <div class="form-group">
         <label>Ville</label>
         <input type="text" class="form-control" id="ville" name="ville" value="<%= univ.ville%>">
       </div>               	
       <div class="form-group">
         <label>Adresse</label>
         <input type="text" class="form-control" id="adresse" name="adresse" <%if(univ.adresse){%>value="<%= univ.adresse%>"<%}%> placeholder="Numero Rue">
       </div>             
       <div class="form-group">
         <label>Latitude</label>
         <input type="text" class="form-control" id="lat" name="lat" <%if(univ.lat){%>value="<%= univ.lat%>"<%}%>>
       </div>
       <div class="form-group">
         <label>Longitude</label>
         <input type="text" class="form-control" id="long" name="longi" <%if(univ.longi){%>value="<%= univ.longi%>"<%}%>>
       </div>
       <div class="form-groupe">
         <label> Fillieres compatibles </label>
         <label class="checkbox-inline">
          <input type="checkbox" name="filliere"  value="LSO Eco App"> LSO Eco App
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="filliere" value="LSO Gestion"> LSO Gestion
        </label>
        <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="LSO LISS"> LSO LISS
       </label>
       <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="LSO Droit"> LSO Droit
       </label>
       <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="MSO"> MSO
       </label>
       <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="MIDO"> MIDO
       </label>
     </div>
     <div class="form-groupe">
      <label> Langue </label>
       <label class="radio-inline">
        <input type="radio" name="langue"  value="fr"> Français
      </label>
      <label class="radio-inline">
        <input type="radio" name="langue" value="en"> Anglais
      </label>
      <label class="radio-inline">
       <input type="radio" name="langue" value="es"> Espagnol
     </label>
     <label class="radio-inline">
       <input type="radio" name="langue" value="po"> Portugais
     </label>
     <label class="radio-inline">
       <input type="radio" name="langue" value="al"> Allemand
     </label>
     <label class="radio-inline">
       <input type="radio" name="langue" value="it"> Italien
     </label>
   </div>
   <div class="form-group">
     <label>Moyenne pour avoir ses chances</label>
     <input type="text" class="form-control" name="moyenne" <%if(univ.moyenne){%>value="<%= univ.moyenne%>"<%}%>>
   </div>
   <div class="form-group">
     <label>Scores Toefl/Entretien</label>
     <input type="text" class="form-control" name="scores" <%if(univ.scores){%>value="<%= univ.scores%>"<%}%>>
   </div>
   <div class="form-group">
     <label>Niveau de demande</label>
     <label class="radio-inline">
       <input type="radio" name="demande" value="Faible"> Faible
     </label>
     <label class="radio-inline">
      <input type="radio" name="demande" value="Moyenne"> Moyenne
    </label>
    <label class="radio-inline">
      <input type="radio" name="demande" value="Forte"> Forte
    </label>
  </div>
  <div class="form-group">
   <label>Prix des billets</label>
   <input type="text" class="form-control" name="prixBillet" <%if(univ.prixBillet){%>value="<%= univ.prixBillet%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Visa</label>
   <input type="text" class="form-control" name="visa" <%if(univ.visa){%>value="<%= univ.visa%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Coût d'inscription</label>
   <input type="text" class="form-control" name="fees" <%if(univ.fees){%>value="<%= univ.fees%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Majorité</label>
   <input type="text" class="form-control" name="majorite" <%if(univ.majorite){%>value="<%= univ.majorite%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Transport pour accèder à l'université</label>
   <input type="text" class="form-control" name="transport" <%if(univ.transport){%>value="<%= univ.transport%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Déplacement sur place et offre spéciale</label>
   <input type="text" class="form-control" name="moove">
 </div>
  <div class="form-group">
   <label>Vie étudiante</label>
   <input type="text" class="form-control" name="vieEtudiante" <%if(univ.vieEtudiante){%>value="<%= univ.vieEtudiante%>"<%}%>>
 </div>
  <div class="form-group">
   <label>Travail demandé</label>
   <input type="text" class="form-control" name="travailDemande" <%if(univ.travailDemande){%>value="<%= univ.travailDemande%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Difficulté avec la langue</label>
   <input type="text" class="form-control" name="diffiLangue" <%if(univ.diffiLangue){%>value="<%= univ.diffiLangue%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Budget</label>
   <input type="text" class="form-control" name="budget" <%if(univ.budget){%>value="<%= univ.budget%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Logement</label>
   <input type="text" class="form-control" name="logement" <%if(univ.logement){%>value="<%= univ.logement%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Nourriture</label>
   <input type="text" class="form-control" name="nourriture" <%if(univ.nourriture){%>value="<%= univ.nourriture%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Coutumes</label>
   <input type="text" class="form-control" name="coutumes" <%if(univ.coutumes){%>value="<%= univ.coutumes%>"<%}%>>
 </div>
 <div class="form-group">
   <label>Cadre</label>
   <input type="text" class="form-control" name="cadre" <%if(univ.cadre){%>value="<%= univ.cadre%>"<%}%>>
 </div>
 <div class="form-group">
   <label for="exampleInputEmail1">Cours</label>
   <input type="text" class="form-control" name="cours" <%if(univ.cours){%>value="<%= univ.cours%>"<%}%> placeholder="Cours choisis par les étudiants et le niveau( + = - )">
 </div>
 <div class="form-group">
   <label for="exampleInputEmail1">Voyages</label>
   <input type="text" class="form-control" name="voyages" <%if(univ.voyages){%>value="<%= univ.voyages%>"<%}%>>
 </div>
 <div class="form-group">
   <label for="exampleInputEmail1">Bons plans</label>
   <input type="text" class="form-control" name="bonPlans" <%if(univ.bonPlans){%>value="<%= univ.bonPlans%>"<%}%>>
 </div>
 <div class="form-group">
   <label for="exampleInputEmail1">Lien vers ebook</label>
   <input type="text" class="form-control" name="link" <%if(univ.bonPlans){%>value="<%= univ.link%>"<%}%>>
 </div>
 <button type="submit" class="btn btn-primary btn-form">Editer</button>
</form>
</div>
</div>
</div>  