<div class="container">
	<div class="raw">
		<div class="col-md-12">
			<h1 class="form-title"> Créer une université </h1>
			<% if(flash && flash.err===1){ %>
      <p> <%= flash.message %> </p>
      <% } %>
      <form class="form-univ" method="post" action="/univ/create">
        <div class="form-group">
         <label>Nom de l'université</label>
         <input type="text" class="form-control" name="name">
       </div>
       <div class="form-group">
         <label>Courte Description</label>
         <textarea class="form-control" name="shortDes" rows="3"/> </textarea>
       </div>
       <div class="form-group">
         <label>Pays</label>
         <input type="text" id="pays" class="form-control" name="pays">
       </div>
       <div class="form-group">
         <label>Ville</label>
         <input type="text" id="ville" class="form-control" name="ville">
       </div>               	
       <div class="form-group">
         <label>Adresse</label>
         <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Numero Rue">
       </div>             
       <div class="form-group">
         <label>Latitude</label>
         <input type="text" class="form-control" id="lat" name="lat">
       </div>
       <div class="form-group">
         <label>Longitude</label>
         <input type="text" class="form-control" id="long" name="longi">
       </div>
       <div class="form-groupe">
         <label> Fillieres compatibles </label>
         <label class="checkbox-inline">
          <input type="checkbox" name="filliere"  value="LSO Eco App"> LSO Eco App
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="filliere" value="LSO Gestion"> LSO Gestion
        </label>
        <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="LSO LISS"> LSO LISS
       </label>
       <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="LSO Droit"> LSO Droit
       </label>
       <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="MSO"> MSO
       </label>
       <label class="checkbox-inline">
         <input type="checkbox" name="filliere" value="MIDO"> MIDO
       </label>
     </div>
     <div class="form-groupe">
      <label> Langue </label>
       <label class="checkbox-inline">
        <input type="checkbox" name="langue"  value="fr"> Français
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="langue" value="en"> Anglais
      </label>
      <label class="checkbox-inline">
       <input type="checkbox" name="langue" value="es"> Espagnol
     </label>
     <label class="checkbox-inline">
       <input type="checkbox" name="langue" value="po"> Portugais
     </label>
     <label class="checkbox-inline">
       <input type="checkbox" name="langue" value="al"> Allemand
     </label>
     <label class="checkbox-inline">
       <input type="checkbox" name="langue" value="it"> Italien
     </label>
   </div>
   <div class="form-group">
     <label>Moyenne pour avoir ses chances</label>
     <input type="text" class="form-control" name="moyenne">
   </div>
   <div class="form-group">
     <label>Scores Toefl/Entretien</label>
     <input type="text" class="form-control" name="scores">
   </div>
   <div class="form-group">
     <label>Niveau de demande</label>
     <label class="radio-inline">
       <input type="radio" name="demande" value="Faible"> Faible
     </label>
     <label class="radio-inline">
      <input type="radio" name="demande" value="Moyenne"> Moyenne
    </label>
    <label class="radio-inline">
      <input type="radio" name="demande" value="Forte"> Forte
    </label>
  </div>
  <div class="form-group">
   <label>Prix des billets</label>
   <input type="text" class="form-control" name="prixBillet">
 </div>
 <div class="form-group">
   <label>Visa + Démarches administratives</label>
   <input type="text" class="form-control" name="visa">
 </div>
 <div class="form-group">
   <label>Frais supplémentaires de l'université</label>
   <input type="text" class="form-control" name="fees">
 </div>
 <div class="form-group">
   <label>Majorité</label>
   <input type="text" class="form-control" name="majorite">
 </div>
 <div class="form-group">
   <label>Transport pour se rendre dans le pays d'échange</label>
   <input type="text" class="form-control" name="transport">
 </div>
  <div class="form-group">
   <label>Déplacement sur place et offre spéciale</label>
   <input type="text" class="form-control" name="moove">
 </div>
  <div class="form-group">
   <label>Vie étudiante</label>
   <input type="text" class="form-control" name="vieEtudiante">
 </div>
  <div class="form-group">
   <label>Travail demandé</label>
   <input type="text" class="form-control" name="travailDemande">
 </div>
 <div class="form-group">
   <label>Difficulté avec la langue</label>
   <input type="text" class="form-control" name="diffiLangue">
 </div>
 <div class="form-group">
   <label>Budget</label>
   <input type="text" class="form-control" name="budget">
 </div>
 <div class="form-group">
   <label>Logement</label>
   <input type="text" class="form-control" name="logement">
 </div>
 <div class="form-group">
   <label>Nourriture</label>
   <input type="text" class="form-control" name="nourriture">
 </div>
 <div class="form-group">
   <label>Coutumes</label>
   <input type="text" class="form-control" name="coutumes">
 </div>
 <div class="form-group">
   <label>Cadre de l'université</label>
   <input type="text" class="form-control" name="cadre">
 </div>
 <div class="form-group">
   <label for="exampleInputEmail1">Niveau des cours</label>
   <input type="text" class="form-control" name="cours" placeholder="Cours choisis par les étudiants et le niveau( + = - )">
 </div>
  <div class="form-group">
   <label for="exampleInputEmail1">Cours à choisir</label>
   <input type="text" class="form-control" name="courses" placeholder="">
 </div>
 <div class="form-group">
   <label for="exampleInputEmail1">Voyages</label>
   <input type="text" class="form-control" name="voyages">
 </div>
 <div class="form-group">
   <label for="exampleInputEmail1">Bons plans</label>
   <input type="text" class="form-control" name="bonPlans">
 </div>
  <div class="form-group">
   <label for="exampleInputEmail1">Lien vers ebook</label>
   <input type="text" class="form-control" name="link">
 </div>
 <button type="submit" class="btn btn-primary btn-form">Créer</button>
</form>
</div>
</div>
</div>  
