<div id="wrapper-outer" >
  <div id="wrapper">
    <div id="wrapper-inner">
      <!-- BREADCRUMB -->
      <div class="breadcrumb-wrapper">

        <div class="row">
          <div class="span12">
            <ul class="breadcrumb pull-left">
              <li><a href="/">Accueil</a></li>
            </ul><!-- /.breadcrumb -->

            <div class="account pull-right">

            </div>
          </div><!-- /.span12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.breadcrumb-wrapper -->

    <!-- HEADER -->
    <div id="header-wrapper">
      <div id="header">
        <div id="header-inner">
          <div class="container">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="row">
                  <div class="logo-wrapper span4">
                    <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                    <div class="logo">
                      <a href="/" title="Home">
                        <img src="/img/logo.png" alt="Home">
                      </a>
                    </div><!-- /.logo -->

                    <div class="site-name">
                      <a href="/" title="Home" class="brand">Erasmoove</a>
                    </div><!-- /.site-name -->

                    <div class="site-slogan">
                      <span>par<br>la DEE</span>
                    </div><!-- /.site-slogan -->
                  </div><!-- /.logo-wrapper -->
<!-- 
                                        


</div><!-- /.row -->
</div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
</div><!-- /.container -->
</div><!-- /#header-inner -->
</div><!-- /#header -->
</div><!-- /#header-wrapper -->

<!-- NAVIGATION -->
<div id="navigation">
  <div class="container">
    <div class="navigation-wrapper">
      <div class="navigation clearfix-normal">

        <ul class="nav">

          <li class="menuparent">
            <span class="menuparent nolink">Les universités</span>
<!--                         <ul>
                            <li><a href="listing-grid.html">Par pays</a></li>
                            <li><a href="listing-grid-filter.html">Par niveau d'étude</a></li>

                          </ul> -->
                        </li>


                        <li><a href="#">Contact</a></li>
                      </ul><!-- /.nav -->



                      <form method="get" class="site-search" action="?">
                        <div class="input-append">
                          <input title="Enter the terms you wish to search for." class="search-query span2 form-text" placeholder="Search" type="text" name="">
                          <button type="submit" class="btn"><i class="icon-search"></i></button>
                        </div><!-- /.input-append -->
                      </form><!-- /.site-search -->
                    </div><!-- /.navigation -->
                  </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
              </div><!-- /.navigation -->

              <!-- CONTENT -->
              <div id="content">
                <div class="container">
                  <div id="main">
                    <div class="row">


                     <div class="container-diapo-title">


                      <div class="univlist span2">
                       <div class="univline" > <br> Brooklyn College
                       </div>
                       <div class="univline">  <br> Carleton University
                       </div>
                       <div class="univline"> <br> Universidad de Buenos Aires
                       </div>

                       
                       
                       
                       <div class="span12">



                        <div class="carousel property">
                          <% if(authenticated){ %>
                          <div class="buttons_addrm">
                            <a type="button" data-toggle="modal" data-target="#modalAdd">  <img class="add" src="/img/add196.png"/></a>
                            <a type="button" data-toggle="modal" data-target="#modalRm">  <img class="remove" src="/img/delete96.png"/></a>
                          </div>
                          <%}%>
                          <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                  <h4 class="modal-title" id="myModalLabel">Glissez déposez les photos à télécharger</h4>
                                </div>


                              </div>
                              <form action="/pictures/upload" enctype="multipart/form-data" method="post">
                                <input type="hidden" name="univ" value="<%=univ.id%>" ><br>
                                <input type="file" name="picture" multiple><br>
                              </div>
                              <div class="modal-footer">
                                <input type="submit" class="btn btn-default" value="Upload"/>
                              </form>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="modalRm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                             <p> Etes vous sûr de vouloir supprimer la photo? </p>
                           </div>
                           <div class="modal-footer">
                            <button id="delete_btn" type="submit" class="btn btn-danger" data-dismiss="modal"/>Supprimer </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    

                    <div class="pointcles">

                     <h2 class="point-cles-title">Points clés</h2> 
                     

                     
                     <table class="color-point-cles">
                      <% if(univ.langue){ %><tr>
                      <th>Langue:</th>
                      <td><%= univ.langue%></td>
                    </tr><% } %>
                    <% if(univ.moyenne){ %><tr>
                    <th>Moyenne demandée:</th>
                    <td><%= univ.moyenne%>/20</td>
                  </tr><% } %>
                  <% if(univ.majorite){ %><tr>
                  <th>Majorité:</th>
                  <td><%= univ.majorite%></td>
                </tr><% } %>

              </table>
              
              <!-- /.row -->
            </div>
          </div>

          <div class="container-diapo">

           <h1 class="page-header position-diapo"> <br> <%= univ.name %></h1> 
           <br>
           

           <ul class="pgwSlider">
             <li><img src="http://www.erasmoove.fr/img/univs/119f3516-3d2f-4a32-a5e5-a2eea1473cb9.jpg"></li>
             <li><img src="http://www.erasmoove.fr/img/univs/119f3516-3d2f-4a32-a5e5-a2eea1473cb9.jpg"></li>
             <li>
              <img src="http://www.erasmoove.fr/img/univs/119f3516-3d2f-4a32-a5e5-a2eea1473cb9.jpg">
            </li>
            <li>
              <img src="http://www.erasmoove.fr/img/univs/119f3516-3d2f-4a32-a5e5-a2eea1473cb9.jpg">
            </a>
          </li>
        </ul>

      </div>






      
<!-- 
                        <% if(pics && pics.length>0){%>
                        <div class="preview span8"> 
                            <img src="<%=pics[0].url%>" alt="">
                        </div>


                           <% _.each(pics,function(pic,index){ %>
                                 <% if(index==0){ %> class="active"<%}%> >
                                   
                                    <img src="<%=pic.url%>" data-id="<%=pics[0].id%>" alt="">
                   
                                 <div class="diapo-line" <% if(index==0){ %> class="active"<%}%> >
                                    
                                    <img src="<%=pic.url%>" data-id="<%=pics[0].id%>" alt="">
                    
                         </div>

                         <div class="diapo-line" <% if(index==0){ %> class="active"<%}%> >
                                    
                                    <img src="<%=pic.url%>" data-id="<%=pics[0].id%>" alt="">
                    
                         </div>

                         <div class="diapo-line" <% if(index==0){ %> class="active"<%}%> >
                                    
                                    <img src="<%=pic.url%>" data-id="<%=pics[0].id%>" alt="">
                    
                         </div>
                                <%})%>
                           
                            
                        </div>
                    </div>

             


                        <%}%>
                      -->
                    </div> <!-- /.container-diapo-title -->

                    <!-- /.content -->
                  </div>
                  <!-- /.carousel -->


                  <div>
                  </div>
                  <div>
                  </div>

                  <script>
                    $( document ).ready(function() {
                      $("#test1").click(function(){
                        console.log($("#back1").css("transform"));
                        if($("#back1").css("transform").substring(0,11)=="matrix3d(-1"){
                          $("#test1").addClass("overflowVisible");
                          $("#test1").removeClass("overflowCache");
                          $("#test1").scrollTop(1);
                        }  

                        if($("#back1").css("transform").substring(0,8)== "matrix(1"){
                          $("#test1").removeClass("overflowVisible");
                          $("#test1").addClass("overflowCache");
                          $("#test1").scrollTop(1); 

                        }
                      }); 

                      $("#test2").click(function(){

                        if($("#back2").css("transform").substring(0,11)=="matrix3d(-1"){
                          console.log($("#back2").css("transform").substring(0,10));
                          $("#test2").addClass("overflowVisible");
                          $("#test2").scrollTop(1);
                        }
                        
                        if($("#back2").css("transform").substring(0,8)== "matrix(1"){
                          console.log($("#back2").css("transform").substring(0,8));
                          $("#test2").removeClass("overflowVisible");
                          $("#test2").addClass("overflowCache");
                          $("#test2").scrollTop(1);

                        }
                      }); 

                      $("#test3").click(function(){


                        if($("#back3").css("transform").substring(0,11)=="matrix3d(-1"){
                         console.log($("#back3").css("transform").substring(0,8));
                         $("#test3").addClass("overflowVisible"); 
                         $("#test3").scrollTop(1);
                       }

                       if($("#back3").css("transform").substring(0,8)== "matrix(1"){
                        console.log($("#back3").css("transform").substring(0,8));
                        $("#test3").removeClass("overflowVisible");
                        $("#test3").addClass("overflowCache");
                        $("#test3").scrollTop(1);

                      }
                    }); 


                      $("#test4").click(function(){

                        if($("#back4").css("transform").substring(0,11)=="matrix3d(-1"){
                          $("#test4").addClass("overflowVisible"); 
                          $("#test4").scrollTop(1);
                        }

                        if($("#back4").css("transform").substring(0,8)== "matrix(1"){
                          $("#test4").removeClass("overflowVisible");
                          $("#test4").addClass("overflowCache");
                          $("#test4").scrollTop(1);



                        }
                      }); 


                      $("#test5").click(function(){

                        if($("#back5").css("transform").substring(0,11)=="matrix3d(-1"){
                          $("#test5").addClass("overflowVisible");
                          $("#test5").scrollTop(1);
                        }

                        if($("#back5").css("transform").substring(0,8)== "matrix(1"){
                          $("#test5").removeClass("overflowVisible");
                          $("#test5").addClass("overflowCache");
                          $("#test5").scrollTop(1);

                        }
                      }); 




                    });   
</script>            



<div class="container-univ row">

  <div id="test1" class="container-flip2 span7">
    <div id="flip2" class"card">
      <div class="front"> 
        <div id="description" class="univ-text"> <br> <br><br> <br> <br> <br> <br> <br> <br> Description
        </div>       
      </div> 
      <div id="back1" class="back"> 
        <div id="description1">  <% if(univ.shortDes){ %><h3 class="title-margin">Description
        </h3>
        <p class="card-writing"><%=univ.shortDes%></p>
        <% } %>

      </div>

      <div class="content_info1"> 
        <ul class="nav nav-pills blue nav-gene">
         <!--          <li role="presentation" id="info" class="active switch"><a>Infos</a></li>
                  <li role="presentation" id="testi" class="switch"><a>Temoignages</a></li>
                  <li role="presentation" id="forum" class="switch"><a>Forum</a></li> -->
                </ul>

              </div>
            </div>
          </div>
        </div>

        <div id="test2"class="container-flip1 span3">
          <div id="flip1" class="card">
            <div class="front"> 
             <div class="univ-text" id="comment-partir"> <br> Comment <br><br> partir ?
             </div> 
           </div>
           <div class="back" id="back2"> <div id="comment-partir1"> 
            <h3 class="title-margin">Comment partir ? </h3>
            <ol type="circle" class="card-writing">
              <% if(univ.moyenne){ %><li>
              <b>Note moyenne en L1 des étudiants qui sont partis:</b>
              <td><%= univ.moyenne%></td>
            </li><% } %>
            <% if(univ.scores){ %><li>
            <b>Niveau de langue: Score TOEFL/ entretien de langue:</b>
            <td><%= univ.scores%></td>
          </li><% } %>
          <% if(univ.demande){ %><li>
          <b>Université demandée?</b>
          <td><%= univ.demande%></td>
        </li><% } %>
        <% if(univ.filliere){ %><li>
        <b>Filières compatibles:</b>
        <td><%= univ.filliere%></td>
      </li><% } %>
      <% if(univ.langue){ %><li>
      <b>Langue parlée:</b>
      <td><%= univ.langue%></td>
    </li><% } %>

  </ol>

  <h3 class="title-margin">Pour le grand départ</h3>
  <ol type="circle" class="card-writing">
    <li>
      <b>Prix moyen des billets d'avion:</b>
      <td><%= univ.prixBillet%></td>
    </li>
    <li>
      <b>Visa, démarches administratives:</b>
      <td><%= univ.visa%></td>
    </li>
    <li>
      <b>Frais supplémentaires:</b>
      <td><%= univ.fees%></td>
    </li>
    <li>
      <b>Majorité:</b>
      <td><%= univ.majorite%> ans</td>
    </li>
  </ol>

</div>         
</div>
</div>
</div>



</div> <!-- /.container-univ row -->

<div class="container-univ row">

 <div class="container-flip1 span3 univ-margin" id="test3">
  <div id="flip4" class"card">
    <div class="front"> 
     <div id="logement" class="univ-text"> <br> Logements, <br> <br> transports
     </div>  
   </div> 
   <div class="back" id="back3"> 
    <div id="logement1"> <h3 class="title-margin">Vie pratique</h3>
      <ol type="circle" class="card-writing">
        <% if(univ.transport){ %><li>
        <b>Moyen de transport pour se rendre dans le pays d'échange:</b>
        <td><%= univ.transport%></td>
      </li><% } %>
      <% if(univ.moove){ %><li>
      <b>Déplacement sur place, offre de transport</b>
      <td><%= univ.moove%></td>
    </li><% } %>
    <% if(univ.budget){ %><li>
    <b>Budget (logement, nourriture, sorties...):</b>
    <td><%= univ.budget%></td>
  </li><% } %>
  <% if(univ.logement){ %><li>
  <b>Type de logement</b>
  <td><%= univ.logement%></td>
</li><% } %>    
</ol>

</ol>

</div>
</div>
</div>
</div>


<div class="container-flip1 span3" id="test4">
  <div id="flip5" class"card">
    <div class="front"> 
      <div id="life-on-campus" class="univ-text"> <br><br> <br> <br> La vie sur le <br> <br>campus
      </div>       
    </div> 
    
    <div class="back" id="back4"> 
      <div id="life-on-campus1">   <h3 class="title-margin">Vie sur le campus</h3>
        <ol type="circle" class="card-writing">
          <% if(univ.travailDemande){ %><li>
          <b>Quantité de travail demandé sur place</b>
          <td><%= univ.travailDemande%></td>
        </li><% } %>
        <% if(univ.diffiLangue){ %><li>
        <b>Difficulté avec la langue</b>
        <td><%= univ.diffiLangue%></td>
      </li><% } %>
      
      <ol type="circle" class="card-writing">
        <% if(univ.vieEtudiante){ %><li>
        <b>Vie Etudiante</b>
        <td><%= univ.vieEtudiante%></td>
      </li><% } %>
      <% if(univ.nourriture){ %><li>
      <b>Nourriture:</b>
      <td><%= univ.nourriture%></td>
    </li><% } %>
    <% if(univ.coutumes){ %><li>
    <b>Coutumes, habitudes:</b>
    <td><%= univ.coutumes%></td>
  </li><% } %>
  <% if(univ.cadre){ %><li>
  <b>Cadre de l’université (cours, structure, emploi du temps,…):</b>
  <td><%= univ.cadre%></td>
</li><% } %>
<% if(univ.cours){ %><li>
<b>Quantité de travail</b>
<td><%= univ.cours%></td>
</li><% } %>  
<% if(univ.courses){ %><li>
<b>Cours à choisir</b>
<td><%= univ.courses%></td>
</li><% } %>                     
</ol>

</div>
</div>
</div>
</div>



<div class="container-flip1 span3" id="test5">
  <div id="flip6" class"card">
    <div class="front"> 
     <div id="voyager-et-bien-plus" class="univ-text"> <br> <br> <br> <br> <br> <br><br>   Voyager, et <br> <br> bien plus !
     </div>
   </div> 

   <div class="back-container">
     <div class="back" id="back5"> 
      <div id="voyager-et-bien-plus1" > <h3 class="title-margin">Voyager et bien plus !</h3>
        <ol type="circle" class="card-writing">
          <% if(univ.voyage){ %><li>
          <b>Ou partir en vacances:</b>
          <td><%= univ.voyage%></td>
        </li><% } %>
        <% if(univ.bonPlans){ %><li>
        <b>Les petits secrets des étudiants:</b>
        <td><%= univ.bonPlans%></td>
      </li><% } %>
    </ol>
  </div>

</div>
</div>                 
</div>
</div>




</div> <!-- /.container-univ row -->


<script>

 $( document ).ready(function() {
  $("#flip1").flip({
        axis: "y", // y or x
        reverse : true, // true and false
        trigger: "click" // click or hover
        // speed : 1000
      });
  $("#flip2").flip({
    axis: "y",
    reverse: true,
    trigger: "click"
  });
  $("#flip3").flip({
    axis: "y",
    reverse: true,
    trigger: "click"
  });
  $("#flip4").flip({
    axis: "y",
    reverse: true,
    trigger: "click"
  });
  $("#flip5").flip({
    axis: "y",
    reverse: true,
    trigger: "click"
  });
  $("#flip6").flip({
    axis: "y",
    reverse: true,
    trigger: "click"
  });
  $('.pgwSlider').pgwSlider({
    maxHeight : 400,
    intervalDuration : 4000
  });
  
  $("#TestimonyForm").validate();     

});


    // $(function(){
    //   // $(".card").flip();
    
    
    // });
</script>

<!-- /.span12--> </div>



<div class="row margin-commentaires"> <br> <br> <br>
                 <!--    <div class="modal fade" id="modalAdd2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Rédigez votre commentaire</h4>
    </div>
    <div class="modal-body">
  <form method="post" action="/testimony/create" class="testimony">
    <div class="form-group">
        <label>Nom Prénom</label>
        <input type="text" class="form-control testi_auth" name="auth"/>
    </div>
    <div class="form-group">
        <label>Année de départ</label>
        <input type="text" class="form-control testi_auth" name="year"/>
    </div>
    <div class="form-group">
        <label>Filière</label>
        <input type="text" class="form-control testi_auth" name="auth_fil"/>
    </div>
    <div class="form-group">

    -->
    <form method="post" action="/testimony/create" class="testimony">

      <div class="span5 testis_first">  <h2 class="testi-h2 commentaires-title">Commentaires </h2> 



        <!-- Button trigger modal -->
        <a class="to_comment" data-toggle="modal" data-target="#modalAdd2"> Commenter </a> </div>

        <!-- Modal -->
        <div class="modal fade" id="modalAdd2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rédigez votre commentaire</h4>
              </div>
              <div class="modal-body"> 
                <form method="post" action="/testimony/create" class="testimony" id="TestimonyForm">
                 <label>  
                  <br>
                  <input type ="button" class="butt" id="bouton1" value="Je suis parti(e)"/>
                  <input type ="button" class="butt" id="bouton2" name="estParti" value="Je veux partir"/>
                </label>
                <div class="form-group">
                  <label for="auth">Nom Prénom <span class="red"> * </span> </label>
                  <input type="text" class="form-control testi_auth" name="auth" id="auth" required/>
                </div>
                
                <div class="form-group">
                  <label for="auth_fil">Filière <span class="red"> * </span> </label>
                  <input type="text" class="form-control testi_auth" name="auth_fil" id="auth_fil" required/>
                  <input type="text" style="display:none;" name="univ" value="<%=univ.id%>"/>
                </div>
                <div class="form-group">

                  <div class="form-group supprimer" id="depart">
                    <label for="year">Année de départ </label>
                    <input type="text" class="form-control testi_year" name="year" id="year" />
                  </div>
                  
                  
                </div>
                <br>
                
                <div class="form-group">
                  <label for="content">Commentaire :<span class="red"> * </span></label>
                  <textarea  class="form-control testi_cont" name="content" id="content" required></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Envoyer</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>
        </div>



        


        
        <br>
      </form>


      <script>
        $("#bouton1").click(function(){

          if(!$("#bouton1").hasClass("background")){
            console.log('hello1');
            $("#bouton1").addClass("background");
            $("#depart").addClass("afficher");
            $("#depart").removeClass("supprimer");  
          }
          if($("#bouton2").hasClass("background")){
            $("#bouton2").removeClass("background");
            $("#depart").addClass("afficher");
            $("#depart").removeClass("supprimer");  
          }

        });
        $("#bouton2").click(function(){

          if(!$("#bouton2").hasClass("background"))
           { $("#bouton2").addClass("background");
         $("#depart").addClass("supprimer");
         $("#depart").removeClass("afficher");    
         console.log('hello2');
       }
       if($("#bouton1").hasClass("background"))
         { $("#bouton1").removeClass("background");
       $("#depart").addClass("supprimer");
       $("#depart").removeClass("afficher");       

     }




     
   });

        
      </script>




      

      <br>
      <br>
      <br>
      <br>

      <% _.each(testis,function(testi){%>
      <div class="testi">   


        <div class="commentaire_title">
          <div class="title_testi1"> <div class="title_testi"> <%=testi.auth%></div> </div>
          <div class="title_testi3"> <% if(testi.year==null){%> Je veux partir <br> Filière : <%=testi.auth_fil%><%} else { %><p>Année de départ : <%=testi.year%>   <br> Filière : <%=testi.auth_fil%> </p>           <%}%>  



          </div> </div>



          

          <div class="container_testi">
            <div class="container-commentaire"> 
              <p class="content_testi"><%=testi.content%>   </p>
            </div>
            <div class="container-date"> Ajouté le <%=testi.createAtFormated()%> 
            </div>
          </div>
        </div>
        


        <% })%>
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="content2 row" style="display:none;">

<!--   <h1 class="title_testis"> Toi aussi aide nous et témoigne </h1>  
  <form method="post" action="/testimony/create" class="testimony">
    <div class="form-group">
        <label>Nom Prénom * </label>
        <input type="text" class="form-control testi_auth" name="auth"/>
    </div>
    <div class="form-group">
        <label>Année de départ<span style="color:red;">*</span> </label>
        <input type="text" class="form-control testi_auth" name="year"/>
    </div>
    <div class="form-group">
        <label>Filière<span style="color:red;">*</span> </label>
        <input type="text" class="form-control testi_auth" name="auth_fil"/>
    </div>
    <div class="form-group">
        <label>Temoignage</label>
        <textarea  class="form-control testi_cont" name="content"></textarea>
    </div>
    <input style="display:none;" type="text" value="<%=univ.id%>" name="univ"/>
    <button type="submit" class="btn btn-default send">Envoyer</button>
</form>
-->


</div>
<div class="content3" style="display:none;">
</div>

</div>
<!-- /.row --> </div>
</div>
</div><!-- /#content -->
</div><!-- /#wrapper-inner -->


</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->




