.italique{font-style:italic;
}
.create{
	position: absolute;
	top:15px;
	right:15px;
}
.red {color: red;
}
.admin-name{
	margin-left: 15px;
}

.form-title{
	margin-left: 25%;
}

.form-univ{
	margin-left: 25%;
}

.form-univ input[type="text"]{
	width: 500px;
}

.form-univ textarea{
	width: 500px;
}
.btn-admin{
	width: 70px;
}
.btn-form{
	margin-top: 10px;
}
.btn-add{
	position: absolute;
	top:15px;
	right:200px;
}
.search{
	background-color: #ffffff;
	height: 100%;
}
.clickable{
	cursor: pointer;
}
.search_link:hover{
	text-decoration: none;
	color:#707070;
}
.search_link{
	color:#707070;
}

.back_link{
	float: right;
	padding-right: 20px;
}
li{
	display: block;
	line-height: 24px;
}
.ui-menu-item{
	cursor: pointer;
}
.ui-menu-item:hover{
	background-color: #e0e0e0;
}
.content_info1{
	width: 100%;
}
.blue{
	color:#022a3b;
}
.switch{
	cursor: pointer;
}
.testimony{
	text-align: center;
}
.testi_auth{
	width: 300px;
}
.testi{
	width: 90%;
	margin-left:50px;
	margin-bottom: 10px;
}
.testi_cont{
	width: 500px;
	height: 100px;
}
.send{
	margin-top: 10px;
}
.title_testis{
	text-align: center;
}
.title_testi{
margin-left: 5px;
display: inline-block;
font-size: 15px;
margin-left: 10px;
margin-top: 10px;
 }

 .commentaire_title {height: 40px;
                     width: 64%;
                     background-color:#e0e0e0;
                     color: #565A5C;
                     margin-bottom: 1px;
                     border-radius: 10px;

}
 .title_testi1 {height: 40px;
 	            width : 50% ;
 	            float: left;
 	            border-right: #fff solid 2px;
}
 
 .title_testi3 {height: 40px;
 	            width: 45%;
               text-align: left;
               float : right;
               font-size: 12px;
}


.subtitle_testi{
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
}
.container_testi{
	padding: 5px 20px;
    width: 90%;
    background-color: #e0e0e0;
    overflow : scroll;
    height: 150px;
    width: 60%;
    border-radius: 10px;
    font-size: 12px;
}
.container-commentaire {width: 100%;
                        height: 120px;
                        overflow: scroll;
}


.container-date {width: 100%;
                 height :30px;
                 text-align: right;
                 font-style: italic;
                 font-size: 10px;
                 margin-top: 5px;
}
.testi-h2{
padding: 0px 20px;
display: inline-block;
}
 
.year_testi{
	float: right;
	position: relative;
	right: 40px;
}
.testis_first{
	max-height: 100%;
	overflow: hidden;
    margin-bottom: 30px;
}
.testi_total{
border-width: 1px;
    border-color: rgb(181, 181, 181);
}
.buttons_addrm{
	position: relative;
	bottom:15px;
	cursor: pointer;
}
.title-margin{
 margin-left: 30px;
    color: #696969;
    vertical-align: middle;
    display: :table-cell;
    text-align: center;
}
.card-writing {font-family: Helvetica;
	           font-size : 12px;

}
.col-info{
    background-color: rgb(5, 129, 181);
	color: #fff;
	padding-right: 20px;
}
.rect{background-color: rgb( 5, 129, 181);
position: absolute;
width: 100%;
height: 5px;
  margin-top: 15px;}
.buttons_addrm .add{
	position: relative;
	left:5px;
	height: 50px;
}
.buttons_addrm .remove{
	position: relative;
	left:5px;
	height: 50px;

}
.nav-gene{
position:absolute;
top: 1100px;
}
.descri{
width:63%;
height: 150px;
margin-bottom: 60px;
border-style:solid;
border-width: 1px;
border-color: rgb(181, 181, 181);
padding-left:15px;
}
.content2.opened{
margin-top: 220px;
}
.to_comment{
	cursor: pointer;
}
.image_univ{
	width: 240px;
	height: 200px;
}
.modal.fade{
	top:-50%;
}

.title-kezako{border: 0px none;
	color:#022A3B;
	font-size:30px;
	font-weight:300;
	line-height:40px;
	margin:20px 0px;
	padding: 0px;
	margin-left:10px;
}
.kezako-paragraphe {margin-left: 27px;
font-size: 13px; 
}

.pointcles{ float:left;
            width:80%;
	        height:175px; 
	        border:2px solid #fff;
	        margin-top: 2px;
	        margin-left: 9%
}

ol {margin-left : 0px;
}

h2.point-cles-title {margin-left: 24px;
	               color: #fff;
	               font-size: 18px;
	               padding-bottom: 0px;
	               margin-top: 5px;
}
.color-point-cles {color : #fff;
	               font-size: 13px;

}

.univ-name {height: 70px;
            width: 60%;
}
h1.page-header {color: black;
	            font-size: 50px;
	            font-family : Garamond;
	            text-align: center;

}

.page-header {width: 800px;
	          margin-left: 100px;
	          width: 100%;
	          border-radius: 35px;
}


.univlist{ float: left;
            height: 378px; 
            clear : center;
            clear : right;
            background-color: #022A3B;
            margin-top: 127px;
            border-radius: 20px;
}
.container-diapo-title { height: 475px;
}

.univline { width: 100%;
	       height: 50px; 
           color : #fff;
           font-size: 13px;
           font-family: Arial;
           text-align: center;
           vertical-align: middle;
           cursor: pointer;
}
.univline:hover{background-color: #fff ; 
                color: #022A3B;
                 font-size: 13px;
                 font-family: Helvetica;
                 opacity: 0.7;
                 
}
.container-diapo { width: 80%;
                   float: right;
                   margin-right: 30px;
                   
}

.diapo-list {height : 550px;
	           float : right;
	           background-color: yellow;
}	
.diapo-line {height : 170px;
} 
.diapo-debut {margin-top: 12px;
}
.img-univ {background: black; /*To do adapter background photos */
           height : 550px;
           margin-left: 20px;
 }
.container-univ {height :344px;
	             margin-left: 50px; 
}
.univ-text {color: #FFFFFF;
	        font-size: 40px;
	        font-family: Helvetica; 
	        text-align : center;
}
.univ-margin {margin-left: 30px;
}
.container-flip1 {height: 344px;
	               width: 315px;
	               margin-top: 20px;
	               cursor: pointer;
	               overflow : hidden;
}

.container-flip2 { height: 344px;
	               width: 655px;
	               margin-top: 20px;
	               cursor: pointer;
	               overflow : hidden; 
}	               
.front{
	height: 200px!important;
}
	        
.back-container{
	height: 200px;
	overflow: scroll;
}
#comment-partir {height : 344px;
                background-image:url("../img/univavion.jpg");
	            background-size: cover; 
	            background-position: center;
                 
}
#comment-partir1 {position: relative;
                height : 344px;
                background-color: 
                z-index: -1;

}
#description {  height : 344px;
                background-image:url("../img/univdauphine.jpg");
	            background-size: cover;
	            background-position: center;;
}           
#description1 { position: relative;
                height : 344px;
                background-color: ;
}
  
#logement {  height: 344px;
	         background-image:url("../img/univschoolbus.jpg");
	         background-size: cover;
}

#logement1 { position: relative;
	         height: 344px;
	         background-color: 
}
#life-on-campus {height : 344px;  
                 background-image:url("../img/univcampuslife.jpg");
	            background-size: cover;
	           background-position: center;
}
#life-on-campus1 {  position : relative;
	                background-color: 
                    height : 344px; 
}

#voyager-et-bien-plus {height : 344px;
                       background-image:url("../img/univmains.jpg");
	                   background-size: cover;
}
#voyager-et-bien-plus1 {position: relative;
                       height : 344px;
                       background-color : 
}


.card { margin: }
.front { width: : 100%; }
.back { width :100%; }
.commentaires-title {margin-left: 10px;
	                 font-family : Arial;
	                 color: #565A5C;
}
.margin-commentaires {margin-left: 80px;
}

.commentaire-prenom {float: left;
}

.commentaire-age {float : right;
}

.supprimer{
	display:none;
}
.afficher{
	display:inline-block;
}





.butt        { background-image: none;
               border-radius: 0px;
               box-shadow: none;
              text-shadow: none;
              border: 0px none;
              padding: 7px 15px;
              font-weight: normal;
	           width: 70px;
	          height: 35px;
	          background-color: #e0e0e0;
	          color: black;
	          display: inline-block;
	font-size: 14px;
line-height: 20px;
color: #333;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-color: #F5F5F5;
background-repeat: repeat-x;
}



.background {background-color: #06A7EA;
	         color : #fff ;
}

.overflowCache { overflow: hidden


}

.overflowVisible { overflow-y : scroll;


}

 

@media (max-width: 980px){
    .descri{
        width:90%;
        margin-left: 0px;
    }
    .nav-gene{
        top: 1220px;
    }
    .content2.opened{
        margin-top: 390px;
    }
    .testi{
        margin-left: 0px;
    }
    
}
@media screen and (max-width: 768px){
	.year_testi{
		float: none;
		right: 0px;
		display: block;
		bottom: 10px;
	}
	.testis_first{
		overflow: scroll;
	}
	.testi{
		margin-left: 0px;
	}
    .descri{
        margin-top: 170px;
        width: 100%;
        height: auto;
    }
    .nav-gene{
        top: 1070px;
    }
    .content2.opened{
        margin-top: 80px;
    }
}
@media (max-width: 650px){
    .nav-gene{
        top: 1110px;
    }
}

