@font-face {
	font-family: 'map-icons';
	src:url('fonts/map-icons.eot');
	src:url('fonts/map-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/map-icons.woff') format('woff'),
		url('fonts/map-icons.ttf') format('truetype'),
		url('fonts/map-icons.svg#map-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.marker-label,
			.marker-icon {
				z-index: 99;
				position: absolute;
				display: block;
				margin-top: -40px;
				margin-left: -25px;
				width: 50px;
				height: 50px;
				font-size: 25px !important;
				text-align: center;
				color: #FFFFFF;
				white-space: nowrap;
			}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'map-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="map-icon-"] {
*/
.map-icon-map-pin, .map-icon-expand, .map-icon-fullscreen, .map-icon-square-pin, .map-icon-route-pin, .map-icon-shield, .map-icon-liquor-store, .map-icon-bicycle-store, .map-icon-hardware-store, .map-icon-insurance-agency, .map-icon-lawyer, .map-icon-real-estate-agency, .map-icon-art-gallery, .map-icon-campground, .map-icon-bakery, .map-icon-bar, .map-icon-amusement-park, .map-icon-aquarium, .map-icon-airport, .map-icon-bank, .map-icon-car-rental, .map-icon-car-dealer, .map-icon-hospital, .map-icon-hair-care, .map-icon-gym, .map-icon-grocery-or-supermarket, .map-icon-general-contractor, .map-icon-pharmacy, .map-icon-point-of-interest, .map-icon-political, .map-icon-post-box, .map-icon-health, .map-icon-post-office, .map-icon-real-estate-agency-copy, .map-icon-hindu-temple, .map-icon-restaurant, .map-icon-female, .map-icon-male, .map-icon-zoo, .map-icon-veterinary-care, .map-icon-car-repair, .map-icon-university, .map-icon-travel-agency, .map-icon-transit-station, .map-icon-beauty-salon, .map-icon-electronics-store, .map-icon-search, .map-icon-zoom-out-alt, .map-icon-movie-rental, .map-icon-atm, .map-icon-jewelry-store, .map-icon-car-wash, .map-icon-unisex, .map-icon-rv-park, .map-icon-school, .map-icon-clothing-store, .map-icon-laundry, .map-icon-casino, .map-icon-place-of-worship, .map-icon-furniture-store, .map-icon-zoom-in-alt, .map-icon-zoom-in, .map-icon-department-store, .map-icon-fire-station, .map-icon-church, .map-icon-library, .map-icon-shopping-mall, .map-icon-local-government, .map-icon-spa, .map-icon-convenience-store, .map-icon-police, .map-icon-route, .map-icon-zoom-out, .map-icon-location-arrow, .map-icon-postal-code, .map-icon-locksmith, .map-icon-doctor, .map-icon-mosque, .map-icon-stadium, .map-icon-storage, .map-icon-movie-theater, .map-icon-electrician, .map-icon-moving-company, .map-icon-postal-code-prefix, .map-icon-crosshairs, .map-icon-compass, .map-icon-dentist, .map-icon-plumber, .map-icon-museum, .map-icon-finance, .map-icon-parking, .map-icon-courthouse, .map-icon-accounting, .map-icon-store, .map-icon-subway-station, .map-icon-natural-feature, .map-icon-florist, .map-icon-food, .map-icon-night-club, .map-icon-synagogue, .map-icon-taxi-stand, .map-icon-painter, .map-icon-train-station, .map-icon-pet-store, .map-icon-gas-station, .map-icon-funeral-home, .map-icon-cemetery, .map-icon-bowling-alley, .map-icon-roofing-contractor, .map-icon-physiotherapist, .map-icon-embassy, .map-icon-city-hall, .map-icon-bus-station, .map-icon-park, .map-icon-lodging, .map-icon-toilet, .map-icon-circle, .map-icon-square-rounded, .map-icon-square, .map-icon-book-store, .map-icon-cafe, .map-icon-wheelchair, .map-icon-volume-control-telephone, .map-icon-sign-language, .map-icon-low-vision-access, .map-icon-open-captioning, .map-icon-closed-captioning, .map-icon-braille, .map-icon-audio-description, .map-icon-assistive-listening-system, .map-icon-abseiling, .map-icon-tennis, .map-icon-skateboarding, .map-icon-playground, .map-icon-inline-skating, .map-icon-hang-gliding, .map-icon-climbing, .map-icon-baseball, .map-icon-archery, .map-icon-wind-surfing, .map-icon-scuba-diving, .map-icon-sailing, .map-icon-marina, .map-icon-canoe, .map-icon-boat-tour, .map-icon-boat-ramp, .map-icon-swimming, .map-icon-whale-watching, .map-icon-waterskiing, .map-icon-surfing, .map-icon-rafting, .map-icon-kayaking, .map-icon-jet-skiing, .map-icon-fishing-pier, .map-icon-fish-cleaning, .map-icon-diving, .map-icon-boating, .map-icon-fishing, .map-icon-cross-country-skiing, .map-icon-skiing, .map-icon-snowmobile, .map-icon-snowboarding, .map-icon-snow, .map-icon-snow-shoeing, .map-icon-sledding, .map-icon-ski-jumping, .map-icon-ice-skating, .map-icon-ice-fishing, .map-icon-chairlift, .map-icon-golf, .map-icon-horse-riding, .map-icon-motobike-trail, .map-icon-trail-walking, .map-icon-viewing, .map-icon-walking, .map-icon-bicycling {
	font-family: 'map-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.map-icon-map-pin:before {
	content: "\e000";
}
.map-icon-expand:before {
	content: "\e001";
}
.map-icon-fullscreen:before {
	content: "\e002";
}
.map-icon-square-pin:before {
	content: "\e003";
}
.map-icon-route-pin:before {
	content: "\e004";
}
.map-icon-shield:before {
	content: "\e005";
}
.map-icon-liquor-store:before {
	content: "\e006";
}
.map-icon-bicycle-store:before {
	content: "\e007";
}
.map-icon-hardware-store:before {
	content: "\e008";
}
.map-icon-insurance-agency:before {
	content: "\e009";
}
.map-icon-lawyer:before {
	content: "\e00a";
}
.map-icon-real-estate-agency:before {
	content: "\e00b";
}
.map-icon-art-gallery:before {
	content: "\e00c";
}
.map-icon-campground:before {
	content: "\e00d";
}
.map-icon-bakery:before {
	content: "\e00e";
}
.map-icon-bar:before {
	content: "\e00f";
}
.map-icon-amusement-park:before {
	content: "\e010";
}
.map-icon-aquarium:before {
	content: "\e011";
}
.map-icon-airport:before {
	content: "\e012";
}
.map-icon-bank:before {
	content: "\e013";
}
.map-icon-car-rental:before {
	content: "\e016";
}
.map-icon-car-dealer:before {
	content: "\e017";
}
.map-icon-hospital:before {
	content: "\e018";
}
.map-icon-hair-care:before {
	content: "\e019";
}
.map-icon-gym:before {
	content: "\e01a";
}
.map-icon-grocery-or-supermarket:before {
	content: "\e01b";
}
.map-icon-general-contractor:before {
	content: "\e01c";
}
.map-icon-pharmacy:before {
	content: "\e01d";
}
.map-icon-point-of-interest:before {
	content: "\e01e";
}
.map-icon-political:before {
	content: "\e01f";
}
.map-icon-post-box:before {
	content: "\e020";
}
.map-icon-health:before {
	content: "\e021";
}
.map-icon-post-office:before {
	content: "\e022";
}
.map-icon-real-estate-agency-copy:before {
	content: "\e023";
}
.map-icon-hindu-temple:before {
	content: "\e024";
}
.map-icon-restaurant:before {
	content: "\e025";
}
.map-icon-female:before {
	content: "\e026";
}
.map-icon-male:before {
	content: "\e027";
}
.map-icon-zoo:before {
	content: "\e028";
}
.map-icon-veterinary-care:before {
	content: "\e029";
}
.map-icon-car-repair:before {
	content: "\e02a";
}
.map-icon-university:before {
	content: "\e02b";
}
.map-icon-travel-agency:before {
	content: "\e02c";
}
.map-icon-transit-station:before {
	content: "\e02d";
}
.map-icon-beauty-salon:before {
	content: "\e02e";
}
.map-icon-electronics-store:before {
	content: "\e02f";
}
.map-icon-search:before {
	content: "\e030";
}
.map-icon-zoom-out-alt:before {
	content: "\e031";
}
.map-icon-movie-rental:before {
	content: "\e032";
}
.map-icon-atm:before {
	content: "\e033";
}
.map-icon-jewelry-store:before {
	content: "\e034";
}
.map-icon-car-wash:before {
	content: "\e035";
}
.map-icon-unisex:before {
	content: "\e036";
}
.map-icon-rv-park:before {
	content: "\e037";
}
.map-icon-school:before {
	content: "\e038";
}
.map-icon-clothing-store:before {
	content: "\e039";
}
.map-icon-laundry:before {
	content: "\e03a";
}
.map-icon-casino:before {
	content: "\e03b";
}
.map-icon-place-of-worship:before {
	content: "\e03c";
}
.map-icon-furniture-store:before {
	content: "\e03d";
}
.map-icon-zoom-in-alt:before {
	content: "\e03e";
}
.map-icon-zoom-in:before {
	content: "\e03f";
}
.map-icon-department-store:before {
	content: "\e040";
}
.map-icon-fire-station:before {
	content: "\e041";
}
.map-icon-church:before {
	content: "\e042";
}
.map-icon-library:before {
	content: "\e043";
}
.map-icon-shopping-mall:before {
	content: "\e044";
}
.map-icon-local-government:before {
	content: "\e045";
}
.map-icon-spa:before {
	content: "\e046";
}
.map-icon-convenience-store:before {
	content: "\e047";
}
.map-icon-police:before {
	content: "\e048";
}
.map-icon-route:before {
	content: "\e049";
}
.map-icon-zoom-out:before {
	content: "\e04a";
}
.map-icon-location-arrow:before {
	content: "\e04b";
}
.map-icon-postal-code:before {
	content: "\e04c";
}
.map-icon-locksmith:before {
	content: "\e04d";
}
.map-icon-doctor:before {
	content: "\e04e";
}
.map-icon-mosque:before {
	content: "\e04f";
}
.map-icon-stadium:before {
	content: "\e050";
}
.map-icon-storage:before {
	content: "\e051";
}
.map-icon-movie-theater:before {
	content: "\e052";
}
.map-icon-electrician:before {
	content: "\e053";
}
.map-icon-moving-company:before {
	content: "\e054";
}
.map-icon-postal-code-prefix:before {
	content: "\e055";
}
.map-icon-crosshairs:before {
	content: "\e056";
}
.map-icon-compass:before {
	content: "\e057";
}
.map-icon-dentist:before {
	content: "\e058";
}
.map-icon-plumber:before {
	content: "\e059";
}
.map-icon-museum:before {
	content: "\e05b";
}
.map-icon-finance:before {
	content: "\e05a";
}
.map-icon-parking:before {
	content: "\e05c";
}
.map-icon-courthouse:before {
	content: "\e05d";
}
.map-icon-accounting:before {
	content: "\e05e";
}
.map-icon-store:before {
	content: "\e05f";
}
.map-icon-subway-station:before {
	content: "\e060";
}
.map-icon-natural-feature:before {
	content: "\e061";
}
.map-icon-florist:before {
	content: "\e062";
}
.map-icon-food:before {
	content: "\e063";
}
.map-icon-night-club:before {
	content: "\e064";
}
.map-icon-synagogue:before {
	content: "\e065";
}
.map-icon-taxi-stand:before {
	content: "\e066";
}
.map-icon-painter:before {
	content: "\e067";
}
.map-icon-train-station:before {
	content: "\e068";
}
.map-icon-pet-store:before {
	content: "\e069";
}
.map-icon-gas-station:before {
	content: "\e06a";
}
.map-icon-funeral-home:before {
	content: "\e06b";
}
.map-icon-cemetery:before {
	content: "\e06c";
}
.map-icon-bowling-alley:before {
	content: "\e06d";
}
.map-icon-roofing-contractor:before {
	content: "\e06e";
}
.map-icon-physiotherapist:before {
	content: "\e06f";
}
.map-icon-embassy:before {
	content: "\e070";
}
.map-icon-city-hall:before {
	content: "\e071";
}
.map-icon-bus-station:before {
	content: "\e072";
}
.map-icon-park:before {
	content: "\e073";
}
.map-icon-lodging:before {
	content: "\e074";
}
.map-icon-toilet:before {
	content: "\e075";
}
.map-icon-circle:before {
	content: "\e076";
}
.map-icon-square-rounded:before {
	content: "\e077";
}
.map-icon-square:before {
	content: "\e078";
}
.map-icon-book-store:before {
	content: "\e014";
}
.map-icon-cafe:before {
	content: "\e015";
}
.map-icon-wheelchair:before {
	content: "\e079";
}
.map-icon-volume-control-telephone:before {
	content: "\e07a";
}
.map-icon-sign-language:before {
	content: "\e07b";
}
.map-icon-low-vision-access:before {
	content: "\e07c";
}
.map-icon-open-captioning:before {
	content: "\e07d";
}
.map-icon-closed-captioning:before {
	content: "\e07e";
}
.map-icon-braille:before {
	content: "\e07f";
}
.map-icon-audio-description:before {
	content: "\e080";
}
.map-icon-assistive-listening-system:before {
	content: "\e081";
}
.map-icon-abseiling:before {
	content: "\e082";
}
.map-icon-tennis:before {
	content: "\e083";
}
.map-icon-skateboarding:before {
	content: "\e084";
}
.map-icon-playground:before {
	content: "\e085";
}
.map-icon-inline-skating:before {
	content: "\e086";
}
.map-icon-hang-gliding:before {
	content: "\e087";
}
.map-icon-climbing:before {
	content: "\e088";
}
.map-icon-baseball:before {
	content: "\e089";
}
.map-icon-archery:before {
	content: "\e08a";
}
.map-icon-wind-surfing:before {
	content: "\e08b";
}
.map-icon-scuba-diving:before {
	content: "\e08c";
}
.map-icon-sailing:before {
	content: "\e08d";
}
.map-icon-marina:before {
	content: "\e08e";
}
.map-icon-canoe:before {
	content: "\e08f";
}
.map-icon-boat-tour:before {
	content: "\e090";
}
.map-icon-boat-ramp:before {
	content: "\e091";
}
.map-icon-swimming:before {
	content: "\e092";
}
.map-icon-whale-watching:before {
	content: "\e093";
}
.map-icon-waterskiing:before {
	content: "\e094";
}
.map-icon-surfing:before {
	content: "\e095";
}
.map-icon-rafting:before {
	content: "\e096";
}
.map-icon-kayaking:before {
	content: "\e097";
}
.map-icon-jet-skiing:before {
	content: "\e099";
}
.map-icon-fishing-pier:before {
	content: "\e09a";
}
.map-icon-fish-cleaning:before {
	content: "\e09b";
}
.map-icon-diving:before {
	content: "\e09c";
}
.map-icon-boating:before {
	content: "\e09d";
}
.map-icon-fishing:before {
	content: "\e098";
}
.map-icon-cross-country-skiing:before {
	content: "\e09e";
}
.map-icon-skiing:before {
	content: "\e09f";
}
.map-icon-snowmobile:before {
	content: "\e0a0";
}
.map-icon-snowboarding:before {
	content: "\e0a1";
}
.map-icon-snow:before {
	content: "\e0a2";
}
.map-icon-snow-shoeing:before {
	content: "\e0a3";
}
.map-icon-sledding:before {
	content: "\e0a4";
}
.map-icon-ski-jumping:before {
	content: "\e0a5";
}
.map-icon-ice-skating:before {
	content: "\e0a6";
}
.map-icon-ice-fishing:before {
	content: "\e0a7";
}
.map-icon-chairlift:before {
	content: "\e0a8";
}
.map-icon-golf:before {
	content: "\e0a9";
}
.map-icon-horse-riding:before {
	content: "\e0aa";
}
.map-icon-motobike-trail:before {
	content: "\e0ab";
}
.map-icon-trail-walking:before {
	content: "\e0ac";
}
.map-icon-viewing:before {
	content: "\e0ad";
}
.map-icon-walking:before {
	content: "\e0ae";
}
.map-icon-bicycling:before {
	content: "\e0af";
}
